 <FluentGrid Spacing="3" AdaptiveRendering="true"  Justify="JustifyContent.FlexStart" Style="padding: 4px; ">
    <FluentGridItem xs="12" sm="12" md="6" lg="3">
        <div class="card px-3 py-1" style="background-color:#2B7CD3;">
            <div class="text-light"><span class="h1">290 M</span><br />Nilai Asset</div>
            <i class="bi bi-cash-coin" style="right: 0; bottom:0; position:absolute; z-index:1; font-size:60px;  color:#6399C8;"></i>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="12" md="6" lg="3">
        <div class="card px-3 py-1" style="background-color:#5FA656;">
            <div class="text-light"><span class="h1">148</span><br />Fixed Asset</div>
            <i class="bi bi-box-seam-fill" style="right: 0; bottom:0; position:absolute; z-index:1; font-size:60px; color:#5DB770;"></i>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="12" md="6" lg="3">
        <div class="card px-3 py-1" style="background-color:#EAB751;">
            <div class="text-light"><span class="h1">148</span><br />Vehicle Asset</div>
            <i class="bi bi-car-front-fill" style="right: 0; bottom:0; position:absolute; z-index:1; font-size:60px; color:#DED16F;"></i>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="12" md="6" lg="3">
        <div class="card px-3 py-1" style="background-color:#EA5151;">
            <div class="text-light"><span class="h1">148</span><br />Rent Asset</div>
            <i class="bi bi-buildings-fill" style="right: 0; bottom:0; position:absolute; z-index:1; font-size:60px; color:#ED8DB1;"></i>
        </div>
    </FluentGridItem>
</FluentGrid>

@code {

}
